/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{ 
	font-family:Arial,Helvetica,sans-serif;
	font-size:15px;
	line-height:1.5;
	padding:0;
	margin:0;
	background-color:#f4f4f4;	
	
}
.wrapper{
	background-image:url("background.jpg");
}
.layout{
	width: 1300px;
    margin: 0 auto;
}
.container { 
background:#35424a;
color:white;
min-height:109px;
border-bottom:orange 3px solid;

}

.branding{
		float:left;
		}
.branding img{		
    margin-left: 27px;
  
	
		}
.navigation_stuff{
	float:left;
   padding-top: 54px;
}

.navigation_stuff ul{
		
	margin: 0;
	padding:0;
	
}


.navigation_stuff a {
    color: #ffffff;
    text-decoration: none;
    /* text-transform: uppercase; */
font-size: 19px;}

.navigation_stuff li{
	
	font-size:15px;
	float:left;
	display:inline;
	padding:0 20px 0 20px;
}
.navigation_stuff li:hover{
	background-color:orange;
}
.shopping_details{
	float:left;
}
.shopping_details .login li{
	   
    padding-top: 10px;
    float: left;    
    padding-left: 13px;
    padding-bottom: 19px;		

}
.shopping_details .login a {
    color: #ffffff;
    text-decoration: none;    
    font-size: 18px;
}
.shopping_details .login a:hover{
	background-color:orange;
}
.shopping_cart {
	    padding-left: 10px;
    width: 110px;
}
.shopping_cart a {
  
    float: left;
    padding-top: 4px;
    padding-right: 11px;
    /* padding-left: 11px; */
    /* margin-left: 42px; */
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

 .shopping_cart a:hover{
	background-color:orange;
}
.shopping_cart img{
	padding-left:5px;
	      width: 50px;
    height: 40px;
    
}
.Message_on_image{
	clear:both;
	min-height:300px;
	text-align:center;
	color:#ffffff;
	border-bottom:orange 3px solid;
	
}
.Message_on_image img {
    width: 100%;
    margin-bottom: -6px;
    height: 500px;
}
.Message_on_image .writeup_img{
	position:relative;
	
}
.Message_on_image .writeup {
    position: absolute;
    top: 200px;
    left: 265px;
    text-align: center;
}
.Message_on_image .writeup h1{
	font-size:35px;
	padding-bottom:10px;
}
.Message_on_image .writeup p{
	font-size:20px;
	padding-bottom:10px;
}


.subscription{
	height: 71px;
    background: #35424a;
	
}

.subscription h1{
		color:#ffffff;
}
.subscription h1{
    float: left;
    padding-left: 680px;
    padding-top: 22px;
    font-size: 17px;
	
}

.subscription form{
	padding-right:20px;
	float:right;
	margin-top:15px;
}
.subscribe_button{
	height:38px;
	background:#e8491d;
	border:0;
	padding-left:20px;
	padding-right:20px;
	color:white;
	}

.subscription input[type="email"]{
	padding:4px;
	height:25px;
	width:250px;
	
	
}
.info{
	    position: relative;
    height: 635px;
    width:  100%;
	
}
.info .info_left{
	position:absolute;
	width:30%;
	  top: 6px;	
	background-color:#d3d2cf;
	float:left;	
	border:orange 3px solid;
}

.info .info_left img {
   
    width: 164px;
    height: 170px;
    margin-left: 116px;
    margin-top: 30px;
}
.info_right {
     position: absolute;
    margin-left: 0px;
    height: 618px;
    width: 99.5%;
    top: 6px;
    background-color: #d3d2cf;
    
    border: orange 3px solid;
	overflow:scroll;
}

.images input{
	    width: 36px;
}
.images button{
	background-color: orange;
}
.info .images .imgContainer{
	
	float:left;
	padding-right:5%;
}

.info_right .images {
    width: 86%;
    margin: 0 auto;
    margin-top: 1%;
    padding-left: 6%;
    padding-top: 15px;
}
.info_right .imgContainer figcaption{
	text-align:center;
	padding-bottom:45px;
}

.addeditems table ,tr{
	border:1px solid black;	
	border-collapse:collapse;
	width:450px;
	
}
.addeditems td, th{
	text-align:center;
	border:1px solid black;	
}
footer {
    color: white;
    padding-left: 35px;
    height: 100px;
    padding-top: 16px;
    background-color: #142950;
    height: 100px;
}
.footer_content_1 p{
	padding-top:10px;
	
	color:white;
	font-size:12px;
	padding-bottom:3px;
}
.footer_content_1 li{
	padding-right:5px;	   
    padding-top: 5px;
    float: left;    
   
    

}
.footer_content_1 a{
		color:#ffffff;
	text-decoration:none;	
	font-size:12px;
	
}
.footer_content_1 a:hover{
color:orange;
}